<div class="container">

  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>

  <hr />

  <div class="row" style="margin-bottom: 50px">
    <div class="col-sm-4" *ngFor="let oferta of ofertas">
      <div class="card">
        <img class="card-img-top" [src]="oferta.imagens[0].url">
        <div class="card-block">
          <h4 class="card-title">{{oferta.titulo}}</h4>
          <p class="card-text">{{oferta.descricao_oferta}}</p>
          <p class="preco">{{oferta.valor | currency: 'BRL': true}}</p>
          <a [routerLink]="['/oferta', oferta.id]" class="btn btn-outline-primary">Ver oferta</a>
        </div>
      </div>
    </div>
  </div>
</div>
