<div class="fixed-top">
  <nav class="navbar navbar-expand bg-faded">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a class="navbar-brand" routerLink="">
            <img src="/assets/logo.png" routerLinkActive="active" routerLink="inicio"/>
          </a>
        </div>
        <div class="col-md-6">
          <input type="text"
                 #termoDaPesquisa
                 (keyup)="pesquisar(termoDaPesquisa.value)"
                 class="form-control"
          placeholder="Pesquise por ofertas..."/>
          <ul class="list-group" style="position: absolute; z-index: 999">
            <li class="list-group-item" *ngFor="let oferta of ofertas | async ">
              <a [routerLink]="['/oferta', oferta.id]" (click)="limparPesquisa()">
                {{oferta.titulo | descricaoReduzida: 15}}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <a a href="#">
            <img src="/assets/carrinho.png" />
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="restaurantes">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="diversao">Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>
